---
import ExperienceItem from "./ExperienceItem.astro"
const EXPERIENCE = [
    {
    date: "Actualmente...",
    title: "Desarrollador de sofware",
    company: "Integra IA Consulting",
    description:
      `Actualmente me desarrollo como freelance en proyectos de desarrollo web,
      soluciones móviles y herramientas de automatización para pequeñas y medianas empresas.
      Estoy en proceso de consolidar mi propia agencia de desarrollo de software y marketing digital, m
      ientras continúo mi formación como desarrollador full stack y mobile.
      Me apasiona la creación de aplicaciones únicas y funcionales que mejoren la experiencia del usuario.`,
    //link: "https://twitch.tv/midudev", <--Ejemplo de cómo podemos agregar un enlace a un proyecto o perfil
  },
  {
    date: "Actualmente...",
    title: "Gerente de Operaciones",
    company: "Grupo GESAN",
    description:
       `Actualmente desempeño un rol clave en la creación y consolidación del área de Gerencia de Operaciones. 
      Mantengo una comunicación constante y efectiva con el equipo operativo, incluyendo cargadores, choferes,
       montacarguistas y jefes de patio. Brindo apoyo directo en procesos logísticos y 
       coordino acciones para garantizar el buen funcionamiento diario de las operaciones. `,
  },
  {
    date: "Octubre 2024 - Diciembre 2024",
    title: "IT & Security Manager",
    company: "Grupo GESAN",
    description:
      `Responsable del diseño, creación e implementación de la nueva Gerencia de Sistemas y Seguridad, 
      alineada con los objetivos estratégicos de la empresa. Lideré la estructuración del área desde cero,
       estableciendo procesos, políticas y herramientas para fortalecer la infraestructura tecnológica 
       y mejorar la seguridad informática. `

,
  },
]
---

<ol class="relative mt-16">
  {
    EXPERIENCE.map((experience) => (
      <li class="">
        <ExperienceItem {...experience} />
      </li>
    ))
  }
</ol>
