---
import ExperienceItem from "./ExperienceItem.astro"
const EXPERIENCE = [
  {
    date: "Actualmente...",
    title: "Gerente de Operaciones",
    company: "Grupo GESAN",
    description:
      "Actualmente desempeño un rol clave en la creación y consolidación del área de Gerencia de Operaciones. Mantengo una comunicación constante y efectiva con el equipo operativo, incluyendo cargadores, choferes, montacarguistas y jefes de patio. Brindo apoyo directo en procesos logísticos y coordino acciones para garantizar el buen funcionamiento diario de las operaciones.",
    link: "https://twitch.tv/midudev",
  },
  {
    date: "Septiembre 2022",
    title: "Principal Frontend Engineer",
    company: "Adevinta Spain",
    description:
      "Responsable de la plataforma, componentes y utilidades para la creación y desarrollo de aplicaciones web. Mejora de un 30% en la entrega de software. Implantación de medidas de integración continua y despliegue con A/B testing en más de 15 equipos.",
  },
]
---

<ol class="relative mt-16">
  {
    EXPERIENCE.map((experience) => (
      <li class="">
        <ExperienceItem {...experience} />
      </li>
    ))
  }
</ol>
